<script type="text/javascript">
    $(function () {
        $("#Unit").combobox({
            required: false,
            disabled: true
        });
        $("#UnitPrice").numberbox({
            onChange: function (newValue, oldValue) {
                if ($("#UnitPrice").numberbox('getValue') != "") {
                    $("#Unit").combobox({
                        required: true,
                        disabled: false
                    });
                }
                else {
                    $("#Unit").combobox({
                        required: false,
                        disabled: true
                    });
                    $("#Unit").combobox('clear')
                }
            }
        });

        SetDateBoxValidator("StartDate", "EndDate")
    })
    function Append() {
        submitAct_DGAppend('dataform', '/Page/P01064/Add', 'datagrid');
        $("#Unit").combobox({
            required: false,
            disabled: false
        });
    }
</script>
    <form id="dataform" class="form-dialog" method="post">
        <div class="edit-dialog">
            <div class="edit-panel-w2">
                <div class="edit-field">
                    <div class="edit-title">
                        <label class="edit-label">产品名称：</label>
                    </div>
                    <div class="edit-content">
                        <input name="ProductName" class="edit-input easyui-textbox" data-options="required:true,missingMessage:'请输入产品名称',invalidMessage:'产品名称不能大于50',validType:'length[1,50]'" />
                    </div>
                </div>
                <div class="edit-field">
                    <div class="edit-title">
                        <label class="edit-label">产品类型：</label>
                    </div>
                    <div class="edit-content">
                        <input name="ProductTypeID" class="easyui-combotree edit-input " data-options="required:true,missingMessage:'请选择产品类型',url:'/Share/Query?name=GetProductTypeParentID&resultformat=jsontree&root=P001&pid=ParentID&id=ProductTypeID&text=ProductType',method:'get',idField:'ProductTypeID',textField:'ProductType'" />
                    </div>
                </div>
                <div class="edit-field">
                    <div class="edit-title">
                        <label class="edit-label">产品单价：</label>
                    </div>
                    <div class="edit-content">
                        <input name="UnitPrice" id="UnitPrice" class="edit-input easyui-numberbox" style="width:110px;" data-options="required:true,missingMessage:'请填写产品单价',precision:2,min:0" /><label style="margin:0px;padding-left:5px;">元/</label>
                        <input name="Unit" id="Unit" class="edit-input easyui-combobox" style="width:47px;" data-options="missingMessage:'请选择单位',editable:false,url:'/Share/GetSystemCodes?code=C047',method:'get',valueField:'Code',textField:'Name',panelHeight:'auto'" />
                    </div>
                </div>
                <div class="edit-field-w">
                    <div class="edit-title">
                        <label class="edit-label">单价生效日：</label>
                    </div>
                    <div class="edit-content">
                        <input id="StartDate" name="StartDate" class="edit-input easyui-datebox" style="width:92px;" data-options="required:true,missingMessage:'请选择单价生效日'" />
                        <input id="EndDate" name="EndDate" class="edit-input easyui-datebox" style="width:92px;" data-options="required:true,missingMessage:'请选择单价生效日'" />
                    </div>
                </div>
                <div class="edit-field">
                    <div class="edit-title">
                        <label class="edit-label">成本：</label>
                    </div>
                    <div class="edit-content">
                        <input name="CostPrice" class="edit-input  easyui-numberbox" data-options="precision:2,min:0,required:true,missingMessage:'请填写产品成本'" value="0" />
                    </div>
                </div>
                <div class="edit-field">
                    <div class="edit-title">
                        <label class="edit-label">增值税率：</label>
                    </div>
                    <div class="edit-content">
                        <input name="TaxRate" class="edit-input  easyui-numberbox" data-options="precision:4,max:1,min:0,required:true,missingMessage:'请填写增值税率'" value="0" />
                    </div>
                </div>
                <div class="edit-field">
                    <div class="edit-title">
                        <label class="edit-label">返点率：</label>
                    </div>
                    <div class="edit-content">
                        <input name="RebateRate" class="edit-input easyui-numberbox" data-options="precision:2,max:1,min:0,required:true,missingMessage:'请填写返点率'" value="0" />
                    </div>
                </div>
                <div class="edit-field">
                    <div class="edit-title">
                        <label class="edit-label">折扣：</label>
                    </div>
                    <div class="edit-content">
                        <input name="Discount" class="edit-input  easyui-numberbox" data-options="precision:1,max:10,min:0,required:true,missingMessage:'请填写折扣'" value="0" />
                    </div>
                </div>
                <div class="edit-field">
                    <div class="edit-title">
                        <label class="edit-label"></label>
                    </div>
                    <div class="edit-content">
                        <input name="IsBiOrder" id="IsBiOrder" type="checkbox" value="1" /><label for="IsBiOrder">允许商务下单</label>
                    </div>
                </div>
                <div class="edit-field">
                    <div class="edit-title">
                        <label class="edit-label"></label>
                    </div>
                    <div class="edit-content">
                        <input name="IsSeOrder" id="IsSeOrder" type="checkbox" value="1" /><label for="IsSeOrder">允许客服下单</label>
                    </div>
                </div>
                <div class="edit-field">
                    <div class="edit-title">
                        <label class="edit-label">折扣：</label>
                    </div>
                    <div class="edit-content">
                        <input name="Discount" class="edit-input  easyui-numberbox" data-options="precision:1,max:10,min:0,required:true,missingMessage:'请填写折扣'" value="0" />
                    </div>
                </div>
                <div class="edit-field">
                    <div class="edit-title">
                        <label class="edit-label">供应商：</label>
                    </div>
                    <div class="edit-content">
                        <input name="SupplierID" class="edit-input easyui-combobox" data-options="required:true,missingMessage:'请选择供应商',editable:false,url:'/Share/Query?name=GetSupplier',method:'get',valueField:'SupplierID',textField:'SupplierNAME'" />
                    </div>
                </div>
                <div class="edit-field">
                    <div class="edit-title">
                        <label class="edit-label">状态：</label>
                    </div>
                    <div class="edit-content">
                        <input name="PState" class="edit-input easyui-combobox" data-options="required:true,missingMessage:'请选择状态',defaultIndex:1,editable:false,url:'/Share/GetSystemCodes?code=C065',method:'get',valueField:'Code',textField:'Name',panelHeight:'auto'" />
                    </div>
                </div>

                <div class="edit-field">
                    <div class="edit-title">
                        <label class="edit-label">显示排序：</label>
                    </div>
                    <div class="edit-content">
                        <input name="SortID" class="edit-input easyui-numberspinner" data-options="required:true,missingMessage:'请输入显示排序',min:0,max:999" value="0"/>
                    </div>
                </div>
                <div class="edit-field-w2">
                    <div class="edit-title">
                        <label class="edit-label">备注：</label>
                    </div>
                    <div class="edit-content-w2">
                        <input name="Remark" class="edit-input easyui-textbox" style="height:90px;width:444px;" data-options="invalidMessage:'备注只能有200个字符',validType:'length[1,200]',multiline:true" />
                    </div>
                </div>
                <div class="edit-field">
                    <div class="showmsg">
                        <label id="showmsg"></label>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div id="toolbar" class="dialog-button">
        <a id="btn-add" class="easyui-linkbutton edit-button" data-options="iconCls:'icon-ok'" onclick="Append()">确定 </a>
        <a id="btn-cancel" class="easyui-linkbutton edit-button" data-options="iconCls:'icon-cancel'" onclick="cancel()">取消 </a>
    </div>

