@*----------------------------------------------------------------
    // Copyright (C) 2004 清风软件
    // 版权所有。
    //
    // 文件名：Fl007.cshtml
    // 文件功能描述：操作日志视图
    //----------------------------------------------------------------*@
@{
        ViewBag.Title = "OperationLog";
    }

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>操作日志</title>
    <link href="~/EasyUI/themes/metro-blue/easyui.css" rel="stylesheet" />
    <link href="~/EasyUI/themes/icon.css" rel="stylesheet" />
    <script src="~/EasyUI/jquery.min.js"></script>
    <script src="~/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/EasyUI/locale/easyui-lang-zh_CN.js"></script>
</head>
<body>
    <div id="content">
        <table id="dg" class="easyui-datagrid" title="操作日志" style="width:600px">
            <thead>
                <tr>
                    <th data-options="field:'operation_id',width:80">操作名称</th>
                    <th data-options="field:'user_url',width:160">URL</th>
                    <th data-options="field:'user_ip',width:120">IP</th>
                    <th data-options="field:'user_id',width:80">操作人</th>
                    <th data-options="field:'access_time',width:120">操作时间</th>
                </tr>
            </thead>
        </table>

        <div id="tb" style="height:auto">
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:'true'" onclick="Edit()">编辑</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:'true'" onclick="Delete()">删除</a>
        </div>
    </div>
</body>
</html>
