@*----------------------------------------------------------------
    // Copyright (C) 2004 清风软件
    // 版权所有。
    //
    // 文件名：Fl006.cshtml
    // 文件功能描述：访问日志视图
    //----------------------------------------------------------------*@
@{
        ViewBag.Title = "AccessLog";
    }


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>访问日志</title>
    <link href="~/EasyUI/themes/metro-blue/easyui.css" rel="stylesheet" />
    <link href="~/EasyUI/themes/icon.css" rel="stylesheet" />
    <script src="~/EasyUI/jquery.min.js"></script>
    <script src="~/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/EasyUI/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript">

    var url;
    function Edit() {
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            $('#dlg').dialog('open').dialog('setTitle', '修改');
            $('#frm').form('load', row);
            url = '/Log/EditLog';
        } else {
            $.messager.alert("提示", "请先选择记录.");
        }
    }
    function Delete() {
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            var id = row.TemplateID;
            $.messager.confirm('提示', '确认删除该信息吗？', function (r) {
                if (r) {
                    $.post('/Log/DeleteLog', { id: id }, function (result) {
                        if (result == "OK") {
                            $('#dg').datagrid('reload');    // reload the template data
                        } else {
                            $.messager.show({               // show error message
                                title: '提示',
                                msg: result
                            });
                        }
                    });
                }
            });
        } else {
            $.messager.alert("提示", "请先选择记录.");
        }
    }

    function Save() {
        $('#frm').form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                if (result == "OK") {
                    $('#dlg').dialog('close');
                    $("#dg").datagrid("reload");
                }
                else {
                    $.messager.alert("提示", result);
                }
            }
        });
    }

    function Close() {
        $('#dlg').dialog('close');
    }
    </script>

    </head>
    <body>
        <div id="content">
            <table id="dg" class="easyui-datagrid" title="访问日志" style="width:600px">
                <thead>
                    <tr>
                        <th data-options="field:'access_id',width:80">事件名称</th>
                        <th data-options="field:'user_url',width:160">URL</th>
                        <th data-options="field:'user_ip',width:120">IP</th>
                        <th data-options="field:'user_id',width:80">操作人</th>
                        <th data-options="field:'access_time',width:120">操作时间</th>
                    </tr>
                </thead>
            </table>

            <div id="tb" style="height:auto">
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:'true'" onclick="Edit()">编辑</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:'true'" onclick="Delete()">删除</a>
            </div>
        </div>
        <div id="dlg" class="easyui-dialog" style="width: 600px; height: 300px; padding: 10px 20px"
             data-options="closed:true, resizable:true, modal:true, buttons:'#dlg-buttons', align:'center'">
            <div class="ftitle">
                <b>模板表单</b>
                <hr />
            </div>
            <form id="frm" method="post" novalidate="novalidate">
                <table cellpadding="5" align="center">
                    <tr class="fitem">
                        <td>事件名称：</td>
                        <td><input type="text" id="" name="" style="width:120px" /></td>
                        <td>URL：</td>
                        <td><input type="text" id="" name="" style="width:120px" /></td>
                    </tr>
                    <tr class="fitem">
                        <td>IP：</td>
                        <td><input type="text" id="" name="" style="width:120px" /></td>
                        <td>操作人：</td>
                        <td>
                            <input type="text" id="" name="" style="width:120px" /></td>
                    </tr>
                    <tr class="fitem">
                        <td>操作时间：</td>
                        <td><input type="text" id="" name="" style="width:120px" /></td>
                    </tr>

                </table>
                <div id="dlg-buttons">
                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="Save()">确定</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="Close()">关闭</a>
                </div>
            </form>
        </div>
</body>
</html>