
@section Header
{
<script type="text/javascript">
    $(window).resize(function () {
        $("#list").setGridWidth($("div.container").width());
    });
    $(function () {
        $("#list").jqGrid({
            url: '/Process/GetTemplateWithProcess',
            datatype: 'json',
            colNames: ['','表单名称','所属公司','创建人','创建时间'],
            colModel: [
                { name: 'ID', index: 'ID', hidden: true },
            { name: 'FormName', index: 'FormName', autowidth: true, sortable: false },
            { name: 'CompanyName', index: 'CompanyName', autowidth: true, sortable: false },
            { name: 'CreateUser', index: 'CreateUser', autowidth: true, sortable: false },
            { name: 'CreateTime', index: 'CreateTime', autowidth: true, sortable: false }
            ],
            rowNum: 10,
            rowList: [10, 20, 30],
            height: 300,
            //  width: 600,
            autowidth: true,
            pager: '#gridPager',
            viewrecords: true,
            altRows: true,
            caption: "模板表单",
            multiselect: false,
            loadComplete: function () {
                var table = this;
                setTimeout(function () {
                    updatePagerIcons(table);
                }, 0);
            }
        });
    })
    function updatePagerIcons(table) {
        var replacement =
        {
            'ui-icon-seek-first': 'icon-double-angle-left bigger-140',
            'ui-icon-seek-prev': 'icon-angle-left bigger-140',
            'ui-icon-seek-next': 'icon-angle-right bigger-140',
            'ui-icon-seek-end': 'icon-double-angle-right bigger-140'
        };
        $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function () {
            var icon = $(this);
            var $class = $.trim(icon.attr('class').replace('ui-icon', ''));

            if ($class in replacement) icon.attr('class', 'ui-icon ' + replacement[$class]);
        })
    }
    function CreateProcess(obj)
    {
       console.log( window)
    }
</script>
<style>
    body {
        background-color: #fff;
        margin: 0px;
    }
</style>

    }
    <body >
     <div class="container" > 
        <div class="row">
            <div class="col-md-5">
                <button type="button" style="float:left" class="btn  btn-success" id="trun" onclick="CreateProcess($('#trun'))"><i class="icon-check-empty"></i>流程设计</button>
            </div>
            
        </div>

             
             @*<button type="button" style="float:left" class="btn  btn-warning " onclick="Search('A'); ButtonSelect(this);"><i class="icon-check"></i>已签核</button>
             <button type="button" style="float:left" class="btn  btn-danger " onclick="Search('R'); ButtonSelect(this);"><i class="icon-reply"></i>已驳回</button>
             <button type="button" class="btn  btn-info" onclick="ApproveSelected()"><i class="icon-edit"></i>批量签核</button>
             <input type="hidden" id="status" value="X" />*@
         </p>
        <table id="list" style="margin:0px;" > </table > 
        <div id="gridPager" > </div > </div > 
    </body >
