@*----------------------------------------------------------------
    // Copyright (C) 2004 清风软件
    // 版权所有。
    //
    // 文件名：Fl005.cshtml
    // 文件功能描述：流程监控视图（待完成）
    //----------------------------------------------------------------*@
@model Panasia.Gemini.FL.Models.TemplateModel

@section Header
{
<script type="text/javascript">
    $(document).ready(function () {
        if (QueryString("status") != "") {
            $("#status").val(QueryString("status"));
            ButtonSelect($("[onclick*='" + QueryString("status") + "']").eq(0).get(0));
        }
        if (QueryString("table") != "") {
            $("#TemplateList").val(QueryString("table"));
        }

        $("#list").jqGrid({
            url: '/Approve/DocumentList',
            datatype: 'json',
            colNames: ['单据编号', '操作', '创建人', '创建日期', '签核状态', '当前签核者/结案者', '结案时间', '', ''],
            colModel: [
            { name: 'FormNo', index: 'FormNo' },
            { name: '', index: '', formatter: rowformatter1, autowidth: true },
            { name: 'CreatedEmployeeName', formatter: rowformatter4, index: 'CreatedEmployeeName', autowidth: true },
            { name: 'CreatedTime', index: 'CreatedTime', autowidth: true },
            { name: 'Approved', index: 'Approved', autowidth: true, formatter: rowformatter2 },
            { name: 'ApproveEmployeeName', index: 'ApproveEmployeeName', autowidth: true },
            { name: 'Confirm_Time', index: 'Confirm_Time', autowidth: true },
            { name: 'CreatedDeptName', index: 'CreatedDeptName', autowidth: true, hidden: true },
             { name: 'MappingFormID', index: 'MappingFormID', autowidth: true, hidden: true }
            ],
            height: 400,
            rowNum: 10,
            rowList: [10, 20, 30],
            pager: "#gridPager",
            postData: { status: $("#status").val(), tablename: $('#TemplateList').val() },
            viewrecords: true,
            altRows: true,
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total"
            },
            caption: "流程监控",
            loadComplete: function () {
                var table = this;
                setTimeout(function () {
                    updatePagerIcons(table);
                }, 0);
            },
        });
    });
    function updatePagerIcons(table) {
        var replacement =
        {
            'ui-icon-seek-first': 'icon-double-angle-left bigger-140',
            'ui-icon-seek-prev': 'icon-angle-left bigger-140',
            'ui-icon-seek-next': 'icon-angle-right bigger-140',
            'ui-icon-seek-end': 'icon-double-angle-right bigger-140'
        };
        $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function () {
            var icon = $(this);
            var $class = $.trim(icon.attr('class').replace('ui-icon', ''));

            if ($class in replacement) icon.attr('class', 'ui-icon ' + replacement[$class]);
        })
    }
    function rowformatter1(value, options, rowobj) {
        return "<a href='/Approve/Fl010?map=" + rowobj.MappingFormID + "&status=" + $("#status").val() + "&table=" + $("#TemplateList").val() + "&page=/Process/Fl005'>查看</a>";
    }

    function rowformatter2(value, rowData, rowIndex) {
        var text = "";
        switch (value) {
            case "1":
                text = "<span style='color: red; font-weight: bold;'>未结案</span>"; break;
            case "2":
                text = "<span style='color: green; font-weight: bold;'>已结案</span>"; break;
        }
        return text;
    }
    function rowformatter3(value, options, rowobj) {
        var text = rowData.ApproveDepartmentName + "-" + value;
        if (value == "") {
            text = rowData.ApproveDepartmentName + "-" + rowData.ApproveJobName;
        }
        return text;
    }
    function rowformatter4(value, options, rowobj) {
        return rowobj.CreatedDeptName + "-" + value;
    }
    function rowformatter5(value, rowData, rowIndex) {
        var text = value
        if (rowData.Approved == 1) {
            text = "";
        }
        return text;
    }
    function Search() {
        $("#list").jqGrid('setGridParam', {
            postData: {
                status: $("#status").val(), tablename: $('#TemplateList').val(),
                keyword: $("#keyword").val()
            }
        });
        $("#list").trigger("reloadGrid");
    }
    function ButtonSelect(obj) {
        $(".selected").removeClass("selected");
        $(obj).addClass("selected");
    }
</script>

    <style type="text/css">
        .selected {
            background: #9cc8f7;
        }

        body {
            background-color: #fff;
        }
    </style>
}


<div id="content">
    <div class="widget-header widget-header-blue widget-header-flat">
        <h4 class="lighter">
            <i class="icon-table">​</i>
            流程监控
        </h4>
    </div>
    <div id="tb" style="height:43px">
        <div style="display:inline;">
            <button type="button" style="float:left" class="btn  btn-danger" onclick="$('#status').val('1'); Search(); ButtonSelect(this);"><i class="icon-check-empty"></i>未结案</button>
            <button type="button" style="float:left" class="btn  btn-warning " onclick="$('#status').val('2'); Search(); ButtonSelect(this);"><i class="icon-check"></i>已结案</button>
            @*<a href="javascript:void(0)" class="easyui-linkbutton selected" data-options="iconCls:'icon-tip',plain:'true'" onclick="$('#status').val('1'); Search(); ButtonSelect(this);">未结案</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:'true'" onclick="$('#status').val('2'); Search(); ButtonSelect(this);">已结案</a>*@
            <input type="hidden" id="status" value="1" />
        </div>

        <div style="display:inline;margin-left:30px;">
            <span>根据单据类型: </span>
            @Html.DropDownList("TemplateList", ViewData["TemplateList"] as SelectList, new { onchange = "Search()" })
        </div>
        <div style="display:inline;">
            <input type="text" id="keyword" placeholder="单据编号">
            <button type="button" class="btn  btn-info" onclick="Search()"><i class="icon-search"></i>查找</button>
        </div>
        <div style="display:inline;">
            <button type="button" style="float:left" class="btn  btn-success" onclick="Add()"><i class="icon-plus"></i>新增通知者</button>
        </div>
    </div>

    <table id="list"></table>
    <div id="gridPager"></div>
</div>

