
<script type="text/javascript">
    $(document).ready(function () {
        $('#file').filebox({
            onChange: function () {
                $('#ok').linkbutton({ disabled: false });
            }
        })
    });
    function importExcel() {
        $('#myForm').form('submit', {
            url: "/Receivables/Import",
            onSubmit: function () {
                if ($('#file').filebox('getValue') == "") {
                    $.messager.alert("提示", "请选择文件！");
                    return false;
                }
                var isValid = $(this).form('validate');//验证不通过
                if (!isValid) {
                    return isValid;
                }
            },
            success: function (data) {
               var result = $.parseJSON(data);
                if (result.HasError) {
                    showError1(result.ErrorMessage);
                    if (result.ErrorMessage == '导入成功!')
                    {
                        $('#ok').linkbutton({ disabled: true });
                        $('#datagrid1').datagrid('reload');
                    } else {
                        showError1("导入记录：" + "导入成功" + result.Data.InsertCount + "条;导入更新" + result.Data.UpdateCount + "条;导入取消" + result.Data.CancelCount + "条");
                    }
                }
            }
        });
    }

    function showError1(error) {
        $("#showmsg1").empty();
        $("#showmsg1").append(error);
        setTimeout('$("#showmsg1").empty()', 3000);
    }
</script>


<form method="post" enctype="multipart/form-data" id="myForm" >

    <div class="edit-dialog" style="width:324px">
        <div class="edit-panel">
            <div class="edit-field">
                <div class="edit-title"><label class="edit-label">选择文件：</label></div>
                <div class="edit-content">
                    <input id="file" class="easyui-filebox"  name="File" data-options="validType:'onlyExcel',buttonText:'选择'" style="width:184px" />
                    @*<input value="@JCID" reado readonly="readonly" type="hidden" name="JCID" id="JCID" />*@
                    @* <input type="file" name="file1" value="" />      <input class="easyui-filebox edit-input" name="filePath" id="filePath" />*@
                </div>
            </div>
        </div>

        <div class="edit-field">
            <div class="showmsg"><label id="showmsg1"></label></div>
        </div>

    </div>
</form>

<div class="dialog-button">
    <a id="ok" class="easyui-linkbutton edit-button" data-options="iconCls:'icon-ok'" onclick="importExcel()">确定</a>
    <a class="easyui-linkbutton edit-button" data-options="iconCls:'icon-cancel'" onclick="cancel()">取消</a>
</div>


