@*----------------------------------------------------------------
    // Copyright (C) 2004 清风软件
    // 版权所有。
    //
    // 文件名：Fl013.cshtml
    // 文件功能描述：表单修改视图
    //----------------------------------------------------------------*@
@{
        Layout = null;
    }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fl013</title>
    <link href="~/EasyUI/themes/metro-blue/easyui.css" rel="stylesheet" />
    <link href="~/EasyUI/themes/icon.css" rel="stylesheet" />
    <script src="~/EasyUI/jquery.min.js"></script>
    <script src="~/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/EasyUI/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/javascript/documents_validate.js"></script>
    <script src="~/javascript/DynIframeSize.js"></script>
    <script type="text/javascript">
        function Submit()
        {
            var iframe_id = 'template';
            if (DocumentsValidate(iframe_id)) {
                var iframe_document = $("#" + iframe_id).contents();
                var values = new Array();
                iframe_document.find("input").each(function () {
                    var val = $(this).val();
                    if ($(this).attr("type") == "checkbox" || $(this).attr("type") == "radio")
                    {
                        val = $(this).is(":checked");
                    }
                    values.push("\"" + $(this).attr("name") + "\":\"" + val + "\"");
                });
                $("[name='documentValues']").val("{" + values.join(",") + "}");
                $('#form').form('submit', {
                    url: "/Approve/ModifyDocument"+location.search,
                    success: function (result) {
                        if (result == "OK") {
                            $.messager.alert("提示", "提交成功！", "", function () {
                                location.href = '/DaysOffForm/Fl009';
                            });
                        }
                        else {
                            $.messager.alert("提示", "提交失败，请重试");
                        }
                    }
                });
            }
        }
    </script>
</head>
<body>
    <form id="form" method="post">
        <div class="easyui-panel" style="height:50px;" title="操作">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="Submit();" style="margin:5px 5px 5px 5px;">&nbsp;修改&nbsp;</a>
        </div>
        <div class="easyui-panel" title="单据">
            <iframe id="template" name="template" width="100%" onload="DynIframeSize('template'); LoadData();" scrolling="no" frameborder="0" src="@ViewBag.TemplateUrl"></iframe>
            @Html.Hidden("documentValues")
            <input type="hidden" name="templateID" value="@ViewBag.TemplateID" />
            @MvcHtmlString.Create(ViewData["values"].ToString())
            <ul id="validateSummary"></ul>
        </div>
    </form>
</body>
</html>
