@*----------------------------------------------------------------
    // Copyright (C) 2004 清风软件
    // 版权所有。
    //
    // 文件名：Fl011.cshtml
    // 文件功能描述：单据列表
    //----------------------------------------------------------------*@
@model Panasia.Gemini.FL.Models.TemplateModel

@section Header
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".alert").hide();

            if (QueryString("status") != "") {
                $("#status").val(QueryString("status"));
                ButtonSelect($("[onclick*='" + QueryString("status") + "']").eq(0).get(0));
            }
            if (QueryString("table") != "") {
                $("#DataForm").val(QueryString("table"));
            }
            $("#dg").jqGrid({
                url: '/Approve/ApproveDocumentList',
                datatype: 'json',
                postData: {
                    status: $("#status").val(),
                    table: $("#DataForm").val()
                },
                colNames: ['单据编号','日期', '申请人', '签核状态', '操作'],
                colModel: [
                { name: 'FormNo', title: '单据编号', width: 100 },
                        {name: 'CreatedTime', title: '日期', width: 150, formatter: function (value, options, rowobj) {
                        return new Date(value).Format("yyyy-MM-dd");
                    }, sortable: false
                },
                { name: 'Name', title: '申请人', width: 150, sortable: false },
                {
                    name: 'Confirm_Stat', title: '签核状态', width: 150, formatter: function (value, options, rowobj) {
                        var text = "";
                        switch (value) {
                            case "S": text = "待签核"; break;
                            case "X": text = "待签核"; break;
                            case "R": text = "已驳回"; break;
                            case "A": text = "已签核"; break;
                            case "O": text = "已结单"; break;
                        }
                        return text;
                    }, sortable: false
                },
                {
                    name: 'MappingFormID', title: '操作', width: 150, formatter: function (value, options, rowobj) {
                        var text = "";
                        if (rowobj.Confirm_Stat == "X") {
                            text = "<a href='Fl012?map=" + value + "&approve=1&table=" + $("#DataForm").val() + "'>签核</a>";
                        }
                        else {
                            text = "<a href='Fl010?map=" + value + "&status=" + $("#status").val() + "&table=" + $("#DataForm").val() + "&page=/Approve/Fl011'>查看</a>";
                        }
                        return text;
                    }, sortable: false
                }
                ],
                multiselect: true,
                height: 300,
                rowNum: 10,
                rowList: [10, 20, 30],
                pager: "#gridPager",
                viewrecords: true,
                altRows: true,
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total"
                },
                caption: "单据列表",
                    loadComplete: function () {
                        var table = this;
                        setTimeout(function () {
                            updatePagerIcons(table);
                        }, 0);
                    },
            });
        });

        function updatePagerIcons(table) {
            var replacement =
            {
                'ui-icon-seek-first': 'icon-double-angle-left bigger-140',
                'ui-icon-seek-prev': 'icon-angle-left bigger-140',
                'ui-icon-seek-next': 'icon-angle-right bigger-140',
                'ui-icon-seek-end': 'icon-double-angle-right bigger-140'
            };
            $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function () {
                var icon = $(this);
                var $class = $.trim(icon.attr('class').replace('ui-icon', ''));

                if ($class in replacement) icon.attr('class', 'ui-icon ' + replacement[$class]);
            })
        }

        function Search(status) {
            if (status != undefined && status != null && status != "") {
                $("#status").val(status);
            }
            $("#dg").jqGrid('setGridParam', {
                postData: {
                    status: $("#status").val(),
                    table: $("#DataForm").val()
                }
            });
            $("#dg").trigger("reloadGrid");
        }

        function ButtonSelect(obj) {
            $(".selected").removeClass("selected");
            $(obj).addClass("selected");
        }

        function ApproveSelected() {
            if ($("input[type='checkbox']:checked").length == 0) {
                showerror("至少选择一项进行操作", 'error');
            }
            else {
                $("#error").hide();
                selarrrow
                //var allSelectedRows = $('#dg').datagrid("getSelections");
                //var values = "";
                //for (var i = 0; i < allSelectedRows.length; i++) {
                //    values += allSelectedRows[i].MappingFormID + ",";
                //}
                //$("#SelectedData").val(values);
                //$('#form').form('submit', {
                //    url: "/Approve/ApproveSelected",
                //    success: function (result) {
                //        if (result == "OK") {
                            
                //            $.messager.alert("提示", "提交成功！", "", function () {
                //                $("#dg").datagrid('reload');
                //            });
                //        }
                //        else {
                //            $.messager.alert("提示", "提交失败，请重试");
                //        }
                //    }
                //});
            }
        }
        function showerror(error, id) {
            $("#" + id).empty();
            $("#" + id).append(error);
            $("#" + id).show('slow');
        }
    </script>
    <style type="text/css">
        .selected {
            background: #9cc8f7;
        }

        body {
            background-color: #fff;
        }
        .btn{
            margin-right:10px;
        }
    </style>
}

@*<div class="widget-header widget-header-blue widget-header-flat">
    <h4 class="lighter">
        <i class="icon-table">​</i>
        单据签核
    </h4>
</div>*@
<div class="container">
            <div id="content" style="align-content:center;margin-top:5px;">
                <div class="alert alert-danger" id="error">
                </div>
                <form id="form" method="post">
                    <input id="DataForm" value="@ViewData["DataForm"]" type="hidden" />
                    @*<div style="display:inline;margin-right:16px;float:left;margin-top: 10px;">
                        单据类型：@Html.DropDownList("TemplateList", ViewData["TemplateList"] as SelectList, new { onchange = "Search()" })
                    </div>*@
                        <p>

                            <button type="button" style="float:left" class="btn  btn-success " onclick="Search('X'); ButtonSelect(this);"><i class="icon-check-empty"></i>待签核</button>
                            <button type="button" style="float:left" class="btn  btn-warning " onclick="Search('A'); ButtonSelect(this);"><i class="icon-check"></i>已签核</button>
                            <button type="button" style="float:left" class="btn  btn-danger " onclick="Search('R'); ButtonSelect(this);"><i class="icon-reply"></i>已驳回</button>
                            <button type="button" class="btn  btn-info" onclick="ApproveSelected()"><i class="icon-edit"></i>批量签核</button>
                            <input type="hidden" id="status" value="X" />
                        </p>
                    <input type="hidden" id="SelectedData" name="SelectedData" />
                    <input type="hidden" id="TemplateID" name="TemplateID" value="1006">
                </form>
                <table id="dg" style="margin:0px;"></table>
                <div id="gridPager"></div>
            </div>
</div>