@{
    ViewBag.Title = "ControlSample";
}
<a href="#" onclick="show">cccc</a>

<div id="dialog">
    <form id="dataform" class="form-dialog" method="post">
        <div class="edit-dialog">
            <div class="edit-panel">
                <div class="edit-field">
                    <div class="edit-title">
                        <label class="edit-label">姓名：</label>
                    </div>
                    <div class="edit-content">
                        <input name="Name" class="edit-input  easyui-textbox"></input>
                    </div>
                </div>
                <div class="edit-field">
                    <div class="edit-title">
                        <label class="edit-label">应聘职位：</label>
                    </div>
                    <div class="edit-content">
                        <select name="Position" class="easyui-combobox edit-input"
                                 data-options="idField:'Pid',textField:'Pname',panelHeight:'auto'"> </select>
                    </div>
                </div>
                <div class="edit-field">
                    <div class="edit-title">
                        <label class="edit-label">关键字：</label>
                    </div>
                    <div class="edit-content">
                        <input name="Key" class="edit-input easyui-textbox" data-options="prompt:'请输入性别、工作年限、学历或户口'"></input>
                    </div>
                </div>
                <div class="edit-field">
                    <div class="showmsg">
                        <label id="showmsg"></label>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div id="toolbar" class="dialog-button">
        <a id="btn-query" class="easyui-linkbutton edit-button" data-options="iconCls:'icon-ok'" onclick="submitAct_DGReplace('dataform','/Page/P01024/Query','datagrid')">确定 </a>
        <a id="btn-cancel" class="easyui-linkbutton edit-button" data-options="iconCls:'icon-cancel'" onclick="cancel()">取消 </a>
        <a> </a>
    </div>

</div>