@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>重新登录系统</title>
    @*<script type="text/javascript">
        $(function () {
            console.log('timeout')
            Jump();

        });
        function Jump() {
            window.top.location = "/Account/Login";
            console.log('timeout')
        }
    </script>*@

</head>
<body onload="javaScript:Jump();">
    <div style="border: 1px solid lightblue; margin: 0 auto; text-align: center; vertical-align: middle; margin-top: 100px;">
        <h2>未登陆或者登录超时，请重新登录系统！</h2>
    </div>

    <script type="text/javascript">
    $(function () {
        Jump();

    });
    function Jump() {
        window.top.location = "/Account/Login";
    }
    </script>

</body>
</html>
