<form class="form-dialog" method="post" id="roleSearchForm">
    <div class="edit-dialog">
        <div class="edit-panel">
            <div class="edit-field">
                <div class="edit-title"><label class="edit-label">角色名：</label></div>
                <div class="edit-content">
                    <input class="edit-input  easyui-textbox" name="Name" data-options="validType:'length[1,50]',invalidMessage:'名称不得超过50个字符'" />
                </div>
            </div>
            <div class="edit-field-r2">
                <div class="edit-title"><label class="edit-label">备注：</label></div>
                <div class="edit-content">
                    <input class="edit-input  easyui-textbox" name="Description" data-options="multiline:true,validType:'length[1,200]',invalidMessage:'名称不得超过200个字符'" style="height:90px;" />
                </div>
            </div>
            <div class="edit-field">
            </div>
        </div>
    </div>
</form>
<div class="dialog-button">
    <a class="easyui-linkbutton edit-button" data-options="iconCls:'icon-ok'" onclick="submitAct_DGReplace('roleSearchForm', '/Role/Query', 'datagrid')">确定</a>
    <a class="easyui-linkbutton edit-button" data-options="iconCls:'icon-cancel'" onclick="cancel()">取消</a>
</div>
@*<form method="post" id="roleSearchForm">
        <table class="grid">
            <tr>
                <th>角色名:</th>
                <td><input class="input-dialog" name="name" id="roleName" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="btn-dialog">
                        <a class="btn-padding easyui-linkbutton " data-options="iconCls:'icon-ok'" onclick="submitAct_DGReplace('roleSearchForm', '/Role/Query', 'datagrid')">确定</a>
                        <a class="btn-padding easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="cancel()">取消</a>
                    </div>
                </td>
            </tr>
        </table>
        <div class="showMsg"><label id="showMsg"></label></div>
    </form>*@