<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OA管理系统</title>
    @*<link href="~/EasyUI/themes/easyui.css" rel="stylesheet" />*@
    @*<link href="~/EasyUI/themes/default/easyui.css" rel="stylesheet" />*@
    @*<link href="~/EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />*@

    @*<link href="~/EasyUI/themes/icon.css" rel="stylesheet" />*@

    @*<link href="~/New/jquery-ui.css" rel="stylesheet" />*@
    <link href="~/New/bootstrap.min.css" rel="stylesheet" />
    <link href="~/New/font-awesome.min.css" rel="stylesheet" />
    @*<link href="~/New/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />*@

    <link href="~/New/jquery-ui-1.10.3.full.min.css" rel="stylesheet" />
    <link href="~/New/datepicker.css" rel="stylesheet" />
    <link href="~/New/ui.jqgrid.css" rel="stylesheet" />
    <link href="~/New/ace.min.css" rel="stylesheet" />
    <link href="~/New/ace-rtl.min.css" rel="stylesheet" />
    <link href="~/New/ace-skins.min.css" rel="stylesheet" />



    <script src="~/New/jquery-2.0.3.min.js"></script>

    @*<script src="~/New/jquery.tabs.js"></script>*@
    @*<script src="~/EasyUI/jquery.easyui.min.js"></script>*@
    @*<script src="~/EasyUI/locale/easyui-lang-zh_CN.js"></script>*@
    <script src="~/javascript/DynIframeSize.js"></script>
    <script type="text/javascript" src="~/javascript/QueryString.js"></script>
    <script type="text/javascript" src="~/javascript/dateformat.js"></script>

    <script src="~/New/bootstrap.min.js"></script>
    @*<script src="~/New/jquery-ui-1.10.3.custom.min.js"></script>*@
    <script src="~/New/jquery-ui.js"></script>
    <script src="~/New/jquery.jqGrid.min.js"></script>
    <script src="~/New/grid.locale-cn.js"></script>
    <script src="~/New/jquery.validate.min.js"></script>
    <script src="~/New/jquery.validate.bootstrap.popover.js"></script>
    <script src="~/New/messages_zh.min.js"></script>
    @RenderSection("Header", false)
</head>
<body>
    @RenderBody()

</body>
</html>
