
<script type="text/javascript">


    function UploadPanDian() {
        $('#myForm').form('submit', {
            url: '/AssetPanDian/Upload',
            onSubmit: function () {
                if ($('#fileys').filebox('getValue') == "") {
                    $.messager.alert("提示", "请选择原始文档！");
                    return false;
                }
                if ($('#filepd').filebox('getValue') == "") {
                    $.messager.alert("提示", "请选择盘点文档！");
                    return false;
                }
                var isValid = $(this).form('validate');//验证不通过
                if (!isValid) {
                    return isValid;
                }
            },
            success: function (data) {
                $('#btn-add').linkbutton('disable');
                var result = $.parseJSON(data);
                if (!result.HasError) {
                    $('#tishi').empty();
                    $('#tishi').append('&nbsp;总计(' + result.Data[0] + '条)&nbsp;&nbsp;&nbsp;');
                    $('#tishi').append('<span class="span1" style="background:#f19199" ></span>&nbsp;盘亏(' + result.Data[1] + '条)&nbsp;&nbsp;&nbsp;');
                    $('#datagrid1').datagrid({
                        url: "/AssetPanDian/PanDianTable",
                        rowStyler: function (index, row) {
                            if (index < result.Data[1]) {
                                return 'background-color:#f19199';
                            }
                        }
                    });
                    $('#btn-add').linkbutton('enable');
                }
                else {
                    $.messager.alert("提示", result.ErrorMessage);
                    $('#btn-add').linkbutton('enable');
                }
            }
        });
    }
    //为不同的结果显示不同颜色

</script>

<style>
    .span1 {
        padding: 0px 8px;
    }
</style>
<form method="post" enctype="multipart/form-data" id="myForm" style="width:950px">
    <div class="edit-dialog">
        <div class="edit-panel-w3">
            <div class="edit-field">
                <div class="edit-title">
                    <label class="edit-label">原始文档：</label>
                </div>
                <div class="edit-content">
                    <input id="fileys" class="easyui-filebox" name="FileYuanShi" data-options="required:true,missingMessage:'请选择原始文档',validType:'onlyTxt',buttonText:'选择'" style="width:184px" />
                </div>
                </div>
            <div class="edit-field">
                <div class="edit-title">
                    <label class="edit-label">盘点文档：</label>
                </div>
                <div class="edit-content">
                    <input id="filepd" class="easyui-filebox" name="FilePanDian" data-options="required:true,missingMessage:'请选择对比文档',validType:'onlyTxt',buttonText:'选择'" style="width:184px" />
                </div>
            </div>
            <div class="edit-field" style="width:160px">
                <a id="btn-cancel" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" style="width:70px;float:right;font-weight:bolder" onclick="cancel()">取消 </a>
                <a id="btn-add" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" style="width:70px;font-weight:bolder" onclick="UploadPanDian()">盘点 </a>
            </div>
            </div>
    </div>
        <div class="edit-panel" style="width:890px;">
            <table id="datagrid1" style="width:890px;height:260px" class="easyui-datagrid" data-options="nowrap:true,
                   rownumbers:true,resizable:true,iconCls:'icon-detail',title:'盘点结果'">
                <thead>
                    <tr>
                        <th data-options="field:'AssetID',checkbox:'true',fixed:false,align:'left',halign:'center',width:29">编号</th>
                        <th data-options="field:'AssetName',fixed:false,align:'left',halign:'center'">资产名称</th>
                        <th data-options="field:'Category',fixed:false,align:'left',halign:'center'">资产类别</th>
                        <th data-options="field:'BarCard',fixed:false,align:'left',halign:'center',width:100">条码编号</th>
                        <th data-options="field:'SpecificationsModel',fixed:false,align:'left',halign:'center'">规格型号</th>
                        <th data-options="field:'UnitName',fixed:false,align:'center',halign:'center',width:38">单位</th>
                        <th data-options="field:'AddType',fixed:false,align:'center',halign:'center',width:62">增加方式</th>
                        <th data-options="field:'CName',fixed:false,align:'left',halign:'center'">所属公司</th>
                        <th data-options="field:'DName',fixed:false,align:'left',halign:'center'">所属部门</th>
                        <th data-options="field:'EName',fixed:false,align:'left',halign:'center',width:62">使用员工</th>
                        <th data-options="field:'WHName',fixed:false,align:'left',halign:'center',hidden:true">仓库名称</th>
                        <th data-options="field:'Price',fixed:false,align:'right',halign:'center',width:62">购入价格</th>
                        <th data-options="field:'BuyDate',fixed:false,align:'center',halign:'center',width:76">购置时间</th>
                        <th data-options="field:'SupplierName',fixed:false,align:'left',halign:'center'">供应商</th>
                        <th data-options="field:'QualityDescription',fixed:false,align:'left',halign:'center'">质保说明</th>
                        <th data-options="field:'UseYear',fixed:false,align:'right',halign:'center',width:62">使用年限</th>
                        <th data-options="field:'UseCondition',fixed:false,align:'center',halign:'center',width:70">使用情况</th>
                        <th data-options="field:'Remark',fixed:false,align:'left',halign:'center'">备注</th>
                    </tr>
                </thead>
            </table>
            <div id="tishi" style="width:850px;">
            </div>
        </div>
</form>


