@{
    ViewBag.Title = "Bank_Role_Set";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<img id="progresImage" class="progress hide" src="~/Content/Images/loading.gif" />
<div id="maskOfProgressImage" class="mask hide"></div>

<script type="text/javascript">
    $.ajaxSetup({
        async: false //同步
    });
    function GetList(url, selectID, paramID) {
        $.post(url, { id: paramID }, function (result) {
            $("#" + selectID).empty();
            $("#" + selectID).html(result);
            if (result != "") {
                $("#" + selectID)[0].selectedIndex = 0;
            }
        });
    }

    function CompanyChanged(c)
    {
        GetList('/Bank/GetDepartmentListByCompanyID', 'DeptID', $(c).val());
        GetList('/Bank/GetEmployeeListByDeptID', 'EmployeeID', $('#DeptID').val());
        GetList('/Bank/GetBankListByCompanyID', 'BankID', $(c).val());
    }

    $(document).ready(function () {
        CompanyChanged(document.getElementById("CompanyID"));
        $("#selAll").click(function () {
            $(":checkbox").not("#selAll").prop("checked", $(this).is(":checked"));
        });
    });

    function Search(selectID, keywordID)
    {
        $("#" + selectID + " option").css("display", "");
        $("#" + selectID + " option").not(":contains(" + $("#" + keywordID).val() + ")").css("display", "none");//设为display none 是为了能随时恢复原状而不需要走数据库
    }

    function GenerateBankIDString()
    {
        var s = "";
        $(":checkbox").not("#selAll").each(function () {
            s += "|" + $(this).val() + "," + ($(this).is(":checked") ? "1" : "0") + "|";
        });
        $("#BankIDString").val(s);
    }

    function Submit() {
        GenerateBankIDString();
        $.post(
            "/Bank/SetBankRole",
            {
                EmployeeID: $("#EmployeeID").val(),
                BankIDString: $("#BankIDString").val()
            },
            function (result) {
                $.messager.alert("提示", result);
            });
    }
</script>
<style type="text/css">
    .align_middle {
        vertical-align: middle;
    }
    .listbox {
        width:100%;
        border:1px solid;
        height:240px;
    }
    div.listbox {
        overflow-y: auto;
        height: 238px;
    }
        div.listbox div {
            width:100%;
            text-align:left;
            height:16px;
        }
</style>

<div data-options="region:'center'" id="contianer" class="content-padding">
    <table cellpadding="0" cellspacing="3" style="width:810px;">
        <tr>
            <td align="left" colspan="4"><a class="easyui-linkbutton" href="#" onclick="" data-options="iconCls:'icon-reload',plain:true">切换对应方式</a></td>
        </tr>
        <tr>
            <td align="left" style="width:250px"><input type="text" id="Search_CompanyName" placeholder="公司关键字检索" style="width: 100%" onkeyup="Search('CompanyID', 'Search_CompanyName')" /></td>
            <td align="left" style="width:105px"></td>
            <td align="left" style="width:105px"><input type="text" id="Search_EmployeeName" placeholder="姓名关键字检索" style="width: 100%" onkeyup="Search('EmployeeID', 'Search_EmployeeName')" /></td>
            <td align="left" style="width:300px"><input type="text" id="Search_BankName" placeholder="银行账号关键字检索" style="width: 100%" onkeyup="Search('BankID', 'Search_BankName')" /></td>
        </tr>
        <tr>
            <td align="center">
                @Html.DropDownList("CompanyID", ViewData["companies"] as SelectList, new { @class = "listbox", size = 15, onchange = "CompanyChanged(this);" })
            </td>
            <td align="center">@Html.DropDownList("DeptID", new SelectList(new string[] { }), new { @class = "listbox", size = 15, onchange = "GetList('/Bank/GetEmployeeListByDeptID', 'EmployeeID', $(this).val());" })</td>
            <td align="center">@Html.DropDownList("EmployeeID", new SelectList(new string[] { }), new { @class = "listbox", size = 15 })</td>
            <td align="center"><div class="listbox" id="BankID"></div></td>
        </tr>
        <tr>
            <td colspan="4" align="right">
                @Html.Hidden("BankIDString")
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="Submit()">保存</a>&nbsp;
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="Reset()">取消</a>
            </td>
        </tr>
    </table>
</div>