<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="Stylesheet" href="../default.css" />
    <script type="text/javascript" src="../../javascript/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="../../javascript/dateformat.js"></script>
    <script type="text/javascript" src="../TemplateInit.js"></script>
</head>
<body>
    <table cellspacing="0" class="main">
        <tr>
            <td class="label">部门</td>
            <td><span id="DeptName"></span></td>
            <td class="label">申请日期</td>
            <td><span id="ApplicationDate" datatype="date"></span></td>
        </tr>
        <tr>
            <td class="label">姓名</td>
            <td><span id="EmployeeName"></span></td>
            <td class="label">职位</td>
            <td><span id="JobName"></span></td>
        </tr>
        <tr>
            <td class="label">入职日期</td>
            <td colspan="3"><span id="HireDate" datatype="date"></span></td>
        </tr>
        <tr>
            <td class="label">开始时间</td>
            <td><span id="StartDate" datatype="datetime"></span></td>
            <td class="label">结束时间</td>
            <td><span id="EndDate" datatype="datetime"></span></td>
        </tr>
        <tr>
            <td class="label">休假类型</td>
            <td><span id="LeaveType" db="hr_LeaveType,LeaveName,LvID"></span></td>
            <td class="label">休假时长</td>
            <td><span id="ApplicationHours" datatype="decimal"></span><span id="TimeUnit" convert="D:天|H:小时"></span></td>
        </tr>
        <tr>
            <td class="label">事由</td>
            <td colspan="3"><span id="Reason"></span></td>
        </tr>
        <tr>
            <td class="label">交接情况</td>
            <td colspan="3"><span id="AssociateContent"></span></td>
        </tr>
        <tr>
            <td class="label">交接人</td>
            <td colspan="3"><span id="AssociateEmployeeID" db="hr_Employee,Name,EmployeeID"></span></td>
        </tr>
    </table>
</body>
</html>
