
<div id="tabs" class="easyui-tabs" style="width:500px;height:300px;">
    <div title="批量导入-1.下载模板" style="padding:10px;overflow:hidden">
        <div style="margin-top:10px">
            <p>1.下载模板>2.导入Excel>3.导入完毕</p>
            <p>温馨提示</p>
            <p>导入模板的格式不能修改,录入方法请参照演示模板</p>
        </div>
        <div>
            <ul>
                <li><a class="button white medium" id="download" href='~/DownLoad/公司导入模板.xlsx'>下载导入模板</a></li>
            </ul>
        </div>
        <div style="position: absolute;bottom:15px;right:20px">
            <a class="easyui-linkbutton" href="javaScript:void(0)" onclick="next();">下一步</a>
        </div>
    </div>
    <div title="批量导入-2.导入Excel" data-options="closable:false" style="overflow:hidden;padding:10px;">
        <div style="margin-top:10px">
            <p>1.下载模板>2.导入Excel>3.导入完毕</p>
        </div>
        <div>
            <form enctype="multipart/form-data" method="post" id="file_form">
                <label class="label-title">文件：</label>
                <input id="file" class="easyui-filebox" name="file" data-options="required:true,validType:'onlyExcel',buttonText:'选择',missingMessage:'请选择文件'" style="width:250px" />
                <br />
            </form>
            @*<div id="progressbar" class="easyui-progressbar" style="width:100%;margin-top:35px" data-options="text:'导入进度{value}%'"></div>
            <div id="progressbarAttendance" class="easyui-progressbar" style="width:100%;margin-top:35px" data-options="text:'生成进度{value}%'"></div>*@
            <div id="message" style="width:100%;color:red;"></div>
        </div>
        <br />
        <label id="showmessage" style="color:red;"></label>
        <div style="position: absolute;bottom:15px;right:20px">
            <a class="easyui-linkbutton" href="javaScript:void(0)" onclick="before();">上一步</a>
            <a class="easyui-linkbutton" href="javaScript:void(0)" onclick="importCompany()">导入</a>
        </div>
    </div>
    <div title="批量导入-3.导入完毕" data-options="closable:false" style="padding:10px;overflow:hidden;">
        <div style="margin-top:10px">
            <p>1.下载模板>2.导入Excel>3.导入完毕</p>
            <p id="importRecord" style="font-weight:700; color:red">......：<ul><li><a>查看导入记录</a></li></ul></p>
        </div>
        <div style="position: absolute;bottom:15px;right:20px">
            <a class="easyui-linkbutton" href="javaScript:void(0)" onclick="before()">上一步</a>
            <a class="easyui-linkbutton" href="javaScript:void(0)" onclick="cancel()">完成</a>
        </div> 
    </div>
</div>  
<script type="text/javascript">
    function importCompany()
    {
        $('#file_form').form('submit', {
            url: "/org_Employees/ImportCompany",
            success: function (data) {
               
                data = $.parseJSON(data);
               
                if (!data.HasError) {
                    //  $.messager.alert("提示", data.ErrorMessage);
                    $('#showmessage').empty();
                    $('#showmessage').append(data.ErrorMessage);
                }
                else {


                    var msg = data.ErrorMessage.split(":");
                    var error = msg[2];

                    error = error.substring(0, error.length - 1);
                    if (error != "") {
                        var errorindex = error.split(",");
                        console.log(errorindex.length)
                        if (errorindex.length > 0) {
                            // $.messager.alert("提示", "导入失败，第" + errorindex[0] + "条数据出错");
                            $('#showmessage').empty();
                            $('#showmessage').append("导入失败，第" + errorindex[0] + "条数据出错");
                        }

                    } else {
                        //console.log(msg[1].split(","))
                        //console.log(msg[0].split(","))
                        var rightIndex = msg[1].split(",");
                        var skipIndex = msg[0].split(",");
                        //console.log(rightIndex.length - 1);
                        //console.log(skipIndex.length - 1)
                        // $.messager.alert("提示", "导入成功，导入成功" + (rightIndex.length - 1) + "条，跳过" + (skipIndex.length - 1) + "条");
                        $('#showmessage').empty();
                        $('#showmessage').append("导入成功，导入成功" + (rightIndex.length - 1) + "条，跳过" + (skipIndex.length - 1) + "条");
                        $("#tt").tree('reload');
                        $("#tt1").tree('reload')
                    }
                }
            }
        });
    }
    function next() {
        var tab = $('#tabs').tabs('getSelected');
        var index = $('#tabs').tabs('getTabIndex', tab);
        $('#tabs').tabs('select', index + 1);
    }
    function before() {
        var tab = $('#tabs').tabs('getSelected');
        var index = $('#tabs').tabs('getTabIndex', tab);
        $('#tabs').tabs('select', index - 1);
    }
</script>