@model Panasia.Gemini.Web.Models.FindCompanyModel
@using Panasia.Core
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Page.cshtml";
}
    <div id="findForm" class="form-dialog">
    <label class="label-title" >公司名称：</label>
        <input class="input-dialog" name="Company_Name" id="Company_Name"/><br />
    <label class="label-title">状态：</label>
    <div class="select">
        <select id="company-state" class="easyui-combobox" name="state" panelheight="auto">
            <option value="0">无效</option>
            <option value="1">有效</option>
        </select>
    </div>
    <br />
        <div class="showMsg"><label id="showMsg"></label></div>
    </div>
        <div class="btn-add">
            <input type="submit" value="确定" class="btn-padding easyui-linkbutton " onclick="findCompany()"/>
            <input type="button" value="取消" class="btn-padding easyui-linkbutton" onclick="cancel()" />
        </div>    
