<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="Stylesheet" href="../default.css" />
    <script type="text/javascript" src="../../javascript/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="../../javascript/dateformat.js"></script>
    <script type="text/javascript" src="../TemplateInit.js"></script>
</head>
<body>
    <div style="width:300px;height:200px;"><h3 style="position:relative;top:45%;left:50%;margin:0;padding:0;">未能找到模版文件</h3></div>
</body>
</html>
