

<style>
    .edit-panel3 {
    padding:5px 0px;
    margin-top:5px;
    width:680px;
    height:380px;
    margin-left: 9px;
    margin-right: auto;
    }
</style>

<form method="post" id="dataform" class="form-dialog">

    <div class="edit-dialog1" style="width:680px">

        <div class="edit-panel3">
            <table id="datagrid" style="height:300px;width:600px" class="easyui-datagrid" data-options="url:'/Page/P01045/GetInfo?ID=@Model.Parameters["ID"]',fitColumns:true,fit:true,rownumbers: true,nowrap: true,striped: true,collapsible: false,resizable:true">
                <thead>
                    <tr>
                        <th data-options="field:'WorkDate'" align="center">日期</th>
                        <th data-options="field:'Weekday'" align="center">星期</th>
                        <th data-options="field:'IsWork'" align="center">上班否</th>
                        <th data-options="field:'Remark'" align="center">说明</th>
                        <th data-options="field:'上班时间'" align="center">上班时间</th>
                        <th data-options="field:'下班时间'" align="center">下班时间</th>
                        <th data-options="field:'迟到早退'" align="center">迟到/早退</th>
                        <th data-options="field:'加班时数'" >加班时数</th>
                        <th data-options="field:'考勤异常解释'" align="center">考勤异常解释</th>
                        <th data-options="field:'旷工天数'">旷工天数</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
</form>
<div class="dialog-button">

    <a class="easyui-linkbutton edit-button" data-options="iconCls:'icon-cancel'" onclick="cancel()">关闭</a>
</div>

