
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]>
    <html xmlns="http://www.w3.org/1999/xhtml" class="ie8" lang="zh-CN" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if !(IE 8) ]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>双子星系统 &rsaquo; 找回密码</title>
    <link rel='stylesheet' id='buttons-css' href='~/Content/buttons.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='login-css' href='~/Content/login.min.css' type='text/css' media='all' />
    <meta name='robots' content='noindex,follow' />
    <script type="text/javascript" src="~/jquery-easyui-1.4/jquery.min.js"></script>
    <script>
        function submit1() {
            $.ajax({
                type: "POST",
                url: '/User/ForgetPsw?email=' + $('#email1').val(),
                success: function (data) {
                    $('.message').empty();
                    $('.message').append(data);
                }
            });
            //$("#fpsform").form('submit', {
            //        url: '/User/ForgetPsw?email=' + $('#email').val(),
            //        onSubmit: function () {
            //        },
            //        success: function (result) {
            //            if (result == 'false') {
            //                $('.message').empty();
            //                $('.message').append("请输入正确的电子邮箱地址。");
            //            } else {
            //                $('.message').empty();
            //                $('.message').append("邮件已发送。");
            //            }
            //        }
            //    });
        }
    </script>

</head>
<body class="login login-action-login wp-core-ui  locale-zh-cn">
    <div id="login">
        <h1><img src="~/Content/Images/name.gif"></h1>
            <p class="message">请输入您的电子邮箱地址。您会收到一封包含重置密码链接的电子邮件。</p>

        <form id="fpsform" method="post">
            <p>
                <label for="user_login">
                    电子邮件地址：<br />
                    <input type="email" id="email1" name="email" class="input" value="" size="20" />
                </label>
            </p>
            <p class="submit">
                <button type="button" name="wp-submit" id="wp-submit" class="button button-primary button-large" value="重置密码" onclick="submit1()" >重置密码</button>
                <input type="hidden" name="testcookie" value="1" />
            </p>
            <p id="nav">
                <a href="@Url.Content("/Account/LogOut")" title="登录">登录</a>
            </p>
        </form>
   

    @*<div class="errorMsg" id="showMsg">@Html.ValidationSummary()</div>*@
</div>
@*<div style="text-align:center;position:absolute;bottom:50px;left:50%;width:400px;margin-left:-200px;font-size:0.8em;">
    <span style="color:gray">Copyright@2007-2013 泛亚电子商务（中国）有限公司,泛亚信息技术江苏有限公司 All Rights Reserved </span>
</div>*@
</body>
</html>
