@functions{
    public string getParameter(string name)
    {
        var value = Model.Parameters[name];
        return value;
    }
}

<script type="text/javascript">
    var originData = [];
    var originComboData = [];
    function LoadComboData(ComboID) {
        var comboData = originComboData[ComboID];
        if (comboData == undefined) {
            comboData = [];
        }
        $(ComboID).combobox("loadData", comboData);
    }
    function SaveOriginData(formID) {
        originData[formID] = $("#" + formID).serialize();
        if (formID == "OrderForm") {
            originComboData["ItemNo"] = $("#ItemNo").combobox("getData");
        }
    }
    function LoadOriginData(formID) {
        if (originData[formID] != undefined) {
            var data = originData[formID].split("&");
            for (var i = 0; i < data.length; i++) {
                var control = data[i].split("=");
                var id = control[0];
                var value = decodeURIComponent(control[1]);

                var isEasyui = false;
                //easyui Controls
                if ($("#" + id).attr("class") != undefined) {
                    isEasyui = SetEasyuiControll(id, '"setValue", "' + value + '"');
                }
                if (!isEasyui) {
                    //normal HiddenFields
                    $("#" + id).val(value);
                }
            }
        }
        else {
            $("#" + formID).form("reset");
        }
        if (formID == "OrderForm") {
            LoadComboData("ItemNo");
        }
    }

    function SetEasyuiControll(id, operation) {
        var isEasyui = false;
        var easyuiClass = $("#" + id).attr("class").match(/\beasyui-.+?\s/).toString();
        if (easyuiClass != "") {
            var easyuiControlType = easyuiClass.split("-")[1];
            eval('$("#' + id + '").' + easyuiControlType + '(' + operation + ')');
            isEasyui = true;
        }
        return isEasyui;
    }

    function EditForm(formID) {
        if (formID == "CustomerForm" && $("#OrderID").textbox("getValue") == "") {
            $.messager.alert('提示', "只有保存过订单信息才能对客户信息进行编辑");
        }
        else {
            $("#" + formID).find("[class*='easyui']:not(.readonly):not(.easyui-linkbutton)").each(function () {
                SetEasyuiControll(this.id, "'readonly', false");
            });
            $("#" + formID).find(".easyui-linkbutton").toggleClass("hidden");
        }
    }
    function CancelEditForm(formID, load) {
        if (load == undefined || load) {
            LoadOriginData(formID);
        }
        if (formID == "OrderForm") {
            LoadOriginData("CustomerForm");
        }

        $("#" + formID).find("[class*='easyui']:not(.readonly):not(.easyui-linkbutton)").each(function () {
            SetEasyuiControll(this.id, "'readonly', true");
        });
        $("#" + formID).find(".easyui-linkbutton").toggleClass("hidden");
    }
    function SubmitForm(formID) {
        checkOnline();
        if ($("#" + formID).form("validate")) {
            var data = $("#" + formID).serialize();
            var url = "";
            if (formID == "OrderForm") {
                data += "&" + $("#CustomerForm").serialize();
                url = "/Page/P01075/SaveOrder";
            }
            else if (formID == "CustomerForm") {
                data += "&OrderID=" + $("#OrderID").textbox("getValue");
                url = "/Page/P01075/SaveCustomer";
            }
            $.ajax({
                url: url,
                type: "post",
                data: data,
                dataType: "json",
                success: function (result) {
                    if (!result.HasError) {
                        if (formID == "OrderForm") {
                            if ($("#OrderID").textbox("getValue") == "") {
                                $("#OrderID").textbox("setValue", result.Data[0].OrderID);
                                Insert("datagrid", result, formID);

                                BindAttachment();
                            }
                            else {
                                Update("datagrid", result, formID);
                            }
                            if ($("#RDID").val() == "") {
                                $("#RDID").val(result.Data[0].RDID);
                            }
                            SaveOriginData("CustomerForm");
                        }
                        SaveOriginData(formID);
                    }
                    else {
                        $.messager.alert('提示', result.ErrorMessage);
                    }
                    CancelEditForm(formID, false);
                },
                error: function (d, error) {
                    _showMessage(formID, error);
                }
            });
        }
    }

    function Insert(datagrid, result, formID) {
        _showMessage(formID, "新增成功");
        if (typeof (result.Data) == 'object' && isNaN(result.Data.length)) {
            $("#" + datagrid).datagrid('insertRow', { index: 0, row: result.Data });
        }
        else {
            $("#" + datagrid).datagrid('insertRow', { index: 0, row: result.Data[0] });
        }
    }

    function Update(datagrid, result, formID) {
        _showMessage(formID, "更新成功");
        $("#" + datagrid).datagrid('updateRow', { index: 0, row: result.Data[0] });
    }

    function _showMessage(formID, info) {
        $("#showmsg_" + formID).empty();
        $("#showmsg_" + formID).append(info);
        setTimeout('$("#showmsg_' + formID + '").empty()', 3000);
    }

    function BindCustomer() {
        $("#CustomerID").combobox({
            url: "/Page/P01075/QueryMyCustomerSimple",
            valueField: "CustomerID",
            textField: "CustomerName",
            onSelect: function (item) {
                BindRecv(item.CustomerID);
                $("#Contact").textbox("setValue", item.Contact);
                $("#ContactMobiPhone").textbox("setValue", item.ContactMobiPhone);
                $("#ContactCardNo").textbox("setValue", item.ContactCardNo);
            }
        });
    }

    function BindRecv(cid) {
        if (cid == undefined) {
            cid = $("#CustomerID").combobox("getValue");
        }
        if (cid != "") {
            $.ajax({
                type: 'post',
                url: "/Page/P01075/GetReceivablesByCustomer?CustomerID=" + cid,
                success: function (data) {
                    data.unshift({ "Display": "未到账", "RecNum": "", "MoneyUsable": "0" });

                    $("#ItemNo").combobox({
                        data: data,
                        valueField: "RecNum",
                        textField: "Display",
                        readonly: false,
                        onSelect: function (item) {
                            $("#MoneyUsable").val(item.MoneyUsable);
                            if (item.RecNum != "") {
                                $("#ReciveAmount").textbox("setValue", item.MoneyUsable);
                            }
                            else {
                                $("#ReciveAmount").textbox("setValue", "");
                            }
                        }
                    });
                }
            });
        }
    }

    function AddNewProduct() {
        if ($("#OrderID").textbox("getValue") == "") {
            $.messager.alert('提示', "只有保存过订单信息才能添加产品");
        }
        else {
            showActDlg('新增产品', '/Page/P01075/ProductAdd', 400, 300, 'Product');
        }
    }
    //function BindProduct() {
    //    $("#dgProduct").datagrid({
    //        url: '/Page/P01075/GetProductByOrderID?OrderID=' + $("[name='OrderID']").val()
    //    });
    //}

    function showActDlg_DGItemsConfirm1(datagrid, title, msg, url) {
        $.extend($.messager.defaults, { ok: "确定", cancel: "取消" })
        var rows = $("#" + datagrid).datagrid('getSelections');
        if (rows.length == 0) {
            $.messager.alert('提示', "至少选择一个产品进行操作");
        }
        else {
            $.messager.confirm(title, msg, function (r) {
                if (r) {
                    var ids = [];
                    getDeleteIDs(ids, rows, url, datagrid);
                    $.ajax({
                        url: url + "?keys=" + ids,
                        type: "post",
                        success: function (result) {
                            if (!result.HasError) {
                                for (var i = 0; i < rows.length; i++) {
                                    var index = $("#" + datagrid).datagrid('getRowIndex', rows[i]);
                                    $("#" + datagrid).datagrid('deleteRow', index);
                                }
                                $.messager.alert("提示", "已" + title + ids.length + "条记录");//李晓彤 2014光棍节，对数据进行其他操作（操作完不显示）也可以引用
                            }
                            else {
                                $.messager.alert("提示", result.ErrorMessage);
                            }
                        }
                    });
                }
            });
        }
    }

    function AddNewAttach() {
        if ($("#OrderID").textbox("getValue") == "") {
            $.messager.alert('提示', "只有保存过订单信息才能添加附件");
        }
        else {
            showActDlg('上传附件', '/Page/P01075/AttachAdd', 400, 300, 'Attach');
        }
    }

    function AutoResizeImage(maxWidth, maxHeight, objImg) {
        var img = new Image();
        img.src = objImg.src;
        var hRatio;
        var wRatio;
        var Ratio = 1;
        var w = img.width;
        var h = img.height;
        wRatio = maxWidth / w;
        hRatio = maxHeight / h;
        if (maxWidth == 0 && maxHeight == 0) {
            Ratio = 1;
        } else if (maxWidth == 0) {//
            if (hRatio < 1) Ratio = hRatio;
        } else if (maxHeight == 0) {
            if (wRatio < 1) Ratio = wRatio;
        } else if (wRatio < 1 || hRatio < 1) {
            Ratio = (wRatio <= hRatio ? wRatio : hRatio);
        }
        if (Ratio < 1) {
            w = w * Ratio;
            h = h * Ratio;
        }
        objImg.height = h;
        objImg.width = w;
    }

    function deleteAttach(RDID, button) {
        $.extend($.messager.defaults, { ok: "确定", cancel: "取消" })
        $.messager.confirm("提示", "确定删除所选附件", function (r) {
            if (r) {
                $.ajax({
                    url: "/Page/P01075/DeleteOrderAttachment",
                    data: "RDID=" + RDID,
                    type: "post",
                    success: function (result) {
                        if (!result.HasError) {
                            $(button).parent().parent().remove();
                        }
                        else {
                            $.messager.alert("提示", result.ErrorMessage);
                        }
                    }
                });
            }
        });
    }

    function BindAttachment() {
        var orderID = $("[name='OrderID']").val();
        $.ajax({
            type: 'post',
            url: '/Page/P01075/GetAttachmentByOrderID?OrderID=' + orderID,
            success: function (data) {
                for (var i = 0 ; i < data.length; i++) {
                    //var imgUrl = "/Upload/OrderAttachment/" + orderID + "/" + data[i].AttFileUrl;
                    $(".newAttach").before(
                        '<div class="Img" id="' + data[i].RDID + '">' +
                            '<a href="' + data[i].AttFileUrl + '" target="_blank" class="link">' +
                                '<img src="' + data[i].AttFileUrl + '" onload="AutoResizeImage(200, 200, this);" onerror="this.width=\'100\';this.height=\'100\';" />' +
                                '<div class="title">' + data[i].AttFileName + '</div>' +
                            '</a>' +
                            '<div class="tools">' +
                                '<div onclick="deleteAttach(\'' + data[i].RDID + '\', this)"><img src="/Content/Images/delete.jpg" alt="删除附件" title="删除附件" /></div>' +
                                '<div onclick="showActDlg(\'修改附件信息\', \'/Page/P01075/AttachModify?RDID=' + data[i].RDID + '\', 400, 300, \'Attach\')"><img src="/Content/Images/edit.jpg" alt="修改附件" title="修改附件" /></div>' +
                            '</div>' +
                        '</div>');
                }
            }
        });
    }
</script>

<style type="text/css">
    .padding {
        padding: 10px 15px 5px 15px;
    }

    .hidden {
        display: none;
    }
</style>
<div style="width:650px;height:400px;overflow:auto;">
    <div class="padding">
        <div class="easyui-panel" title="订单信息">
            <form id="OrderForm" class="form-dialog" method="post">
                <div class="form-dialog">
                    <div class="edit-dialog">
                        <div class="edit-panel-w2">
                            <div class="edit-field">
                                <div class="edit-title">
                                    <label class="edit-label">
                                        订单编号：
                                    </label>
                                </div>
                                <div class="edit-content">
                                    <input class="edit-input easyui-textbox readonly" id="OrderID" name="OrderID" readonly="readonly" data-options="prompt:'第一次保存后才会有编号'" />
                                </div>
                            </div>
                            <div class="edit-field">
                                <div class="edit-title">
                                    <label class="edit-label">
                                        下单日期：
                                    </label>
                                </div>
                                <div class="edit-content">
                                    <input class="edit-input easyui-textbox readonly" id="OrderDate" readonly="readonly" name="OrderDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                </div>
                            </div>
                            <div class="edit-field">
                                <div class="edit-title">
                                    <label class="edit-label">
                                        客户名称：
                                    </label>
                                </div>
                                <div class="edit-content">
                                    <input class="edit-input easyui-combobox" id="CustomerID" name="CustomerID" data-options="editable:false,readonly:true,panelHeight:'auto',required:true,missingMessage:'请选择客户'">
                                    <script type="text/javascript">
                                        BindCustomer();
                                    </script>
                                </div>
                            </div>
                            <div class="edit-field">
                                <div class="edit-title">
                                    <label class="edit-label">
                                        合同编号：
                                    </label>
                                </div>
                                <div class="edit-content">
                                    <input class="edit-input easyui-textbox" id="ContractID" name="ContractID" readonly="readonly" data-options="validType:'length[1,20]',invalidMessage:'合同编号不得超过20个字符'" />
                                </div>
                            </div>
                            <div class="edit-field">
                                <div class="edit-title">
                                    <label class="edit-label">
                                        合同金额：
                                    </label>
                                </div>
                                <div class="edit-content">
                                    <input class="edit-input easyui-textbox readonly" id="ContractAmount" name="ContractAmount" readonly="readonly" data-options="precision:2" value="0" />
                                </div>
                            </div>
                            <div class="edit-field">
                                <div class="edit-title">
                                    <label class="edit-label">
                                        签约时间：
                                    </label>
                                </div>
                                <div class="edit-content">
                                    <input class="edit-input easyui-datebox" id="ContractDate" name="ContractDate" readonly="readonly" data-options="editable:false" />
                                </div>
                            </div>
                            <div class="edit-field">
                                <div class="edit-title">
                                    <label class="edit-label">
                                        收款流水：
                                    </label>
                                </div>
                                <div class="edit-content">
                                    <input class="edit-input easyui-combobox" id="ItemNo" name="ItemNo" data-options="editable:false,readonly:true,panelHeight:'auto'" />
                                    <input type="hidden" id="MoneyUsable" name="MoneyUsable" value="0" />
                                    <input type="hidden" id="RDID" name="RDID" />
                                </div>
                            </div>
                            <div class="edit-field">
                                <div class="edit-title">
                                    <label class="edit-label">
                                        到账金额：
                                    </label>
                                </div>
                                <div class="edit-content">
                                    <input class="edit-input easyui-numberbox" id="ReciveAmount" readonly="readonly" name="ReciveAmount" data-options="min:0.1,precision:2,validType:'orderReciveRecord[\'#MoneyUsable\']'" />
                                </div>
                            </div>
                            <div class="edit-field-w2">
                                <div class="edit-title">
                                    <label class="edit-label">
                                        备注：
                                    </label>
                                </div>
                                <div class="edit-content-w2">
                                    <input class="edit-input-w2 easyui-textbox" id="Remark" name="Remark" readonly="readonly" data-options="multiline:true,validType:'length[1,200]',invalidMessage:'不得超过200个字符'" style="height:80px;" />
                                </div>
                            </div>
                            <div class="edit-field">
                                <div class="showmsg">
                                    <label id="showmsg_OrderForm"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dialog-button">
                    <a class="edit-button easyui-linkbutton" href="#" onclick="EditForm('OrderForm');" data-options="iconCls:'icon-edit'">编辑</a>
                    <a class="edit-button easyui-linkbutton hidden" href="#" onclick="SubmitForm('OrderForm')" data-options="iconCls:'icon-ok'">保存</a>
                    <a class="edit-button easyui-linkbutton hidden" href="#" onclick="CancelEditForm('OrderForm');" data-options="iconCls:'icon-cancel'">取消</a>
                </div>
            </form>
        </div>
    </div>
    <div class="padding">
        <div class="easyui-panel" title="客户信息">
            <form id="CustomerForm" class="form-dialog" method="post">
                <div class="form-dialog">
                    <div class="edit-dialog">
                        <div class="edit-panel-w2">
                            <div class="edit-field">
                                <div class="edit-title">
                                    <label class="edit-label">
                                        联系人：
                                    </label>
                                </div>
                                <div class="edit-content">
                                    <input class="edit-input easyui-textbox" id="Contact" name="Contact" readonly="readonly" />
                                </div>
                            </div>
                            <div class="edit-field">
                                <div class="edit-title">
                                    <label class="edit-label">
                                        联系电话：
                                    </label>
                                </div>
                                <div class="edit-content">
                                    <input class="edit-input easyui-textbox" id="ContactMobiPhone" readonly="readonly" name="ContactMobiPhone" />
                                </div>
                            </div>
                            <div class="edit-field">
                                <div class="edit-title">
                                    <label class="edit-label">
                                        身份证：
                                    </label>
                                </div>
                                <div class="edit-content">
                                    <input class="edit-input easyui-textbox" id="ContactCardNo" name="ContactCardNo" readonly="readonly" data-options="validType:'identityCard'" />
                                </div>
                            </div>
                            <div class="edit-field">
                                <div class="showmsg">
                                    <label id="showmsg_CustomerForm"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dialog-button">
                    <a class="edit-button easyui-linkbutton" href="#" onclick="EditForm('CustomerForm');" data-options="iconCls:'icon-edit'">编辑</a>
                    <a class="edit-button easyui-linkbutton hidden" href="#" onclick="SubmitForm('CustomerForm')" data-options="iconCls:'icon-ok'">保存</a>
                    <a class="edit-button easyui-linkbutton hidden" href="#" onclick="CancelEditForm('CustomerForm');" data-options="iconCls:'icon-cancel'">取消</a>
                </div>
            </form>
        </div>
    </div>
    <div class="padding">
        <table id="dgProduct" class="easyui-datagrid" data-options="toolbar: '#toolbarProduct'" style="height:200px" title="产品信息">
            <thead>
                <tr>
                    <th data-options="field:'OrdPctID',checkbox:true"></th>
                    <th data-options="field:'Product',width:150">产品名称</th>
                    <th data-options="field:'UnitPrice',width:100">产品单价(元)</th>
                    <th data-options="field:'Qty',width:100">产品数量</th>
                    <th data-options="field:'ContractAmount',width:100">合同价格(元)</th>
                </tr>
            </thead>
        </table>
        @*<script type="text/javascript">
                BindProduct();
            </script>*@
        <div id="toolbarProduct" style="height:auto">
            <a href="javascript:void(0)" class="edit-button easyui-linkbutton" data-options="iconCls:'icon-add',plain:'true'" onclick="AddNewProduct()">添加</a>
            <a href="javascript:void(0)" class="edit-button easyui-linkbutton" data-options="iconCls:'icon-remove',plain:'true'" onclick="showActDlg_DGItemsConfirm1('dgProduct', '删除', '确认删除选择产品?', '/Page/P01075/DeleteOrderProduct')">删除</a>
        </div>
        <div id="Product"></div>
    </div>
    <style type="text/css">
        .Img {
            padding: 3px 3px 3px 3px;
            border: 1px solid;
            float: left;
            margin: 3px 3px 3px 3px;
            position: relative;
        }

            .Img div.title {
                text-align: center;
                font-size: 14px;
            }

            .Img a.link {
                text-decoration: none;
            }

            .Img div.tools {
                position: absolute;
                top: 3px;
                right: 3px;
            }

                .Img div.tools div {
                    float: right;
                    margin-left: 5px;
                    cursor: pointer;
                }

        a.newAttach {
            display: block;
            border: dashed 1px;
            width: 160px;
            height: 200px;
            text-decoration: none;
            float: left;
            margin: 3px 3px 3px 3px;
        }

            a.newAttach div.content {
                color: #808080;
                text-align: center;
                margin-top: 50px;
            }

                a.newAttach div.content img {
                    width: 80px;
                    height: 80px;
                    border: 0;
                }

                a.newAttach div.content div.title {
                    font-size: 25px;
                    margin-top: 10px;
                }
    </style>
    <div class="padding">
        <div class="easyui-panel" title="附件信息">
            <div style="width: 100%; margin: 20px 20px 20px 20px; ">
                <a href="javascript:;" onclick="AddNewAttach();" class="newAttach">
                    <div class="content">
                        <img src="/Content/Images/plus.png" alt="plus" />
                        <div class="title">上传资料</div>
                    </div>
                </a>
            </div>
        </div>
        @*<script type="text/javascript">
                BindAttachment();
            </script>*@
        <div id="Attach"></div>
    </div>
</div>