<div data-options="region:'north'" class="content-padding">
    <div id="toolbar" class="toolbar-panel">
        <div class="toolbutton">
            <a id="btn-search" class="easyui-linkbutton  normal-button" data-options="iconCls:'icon-search',plain:true" onclick="showActDlg('检索','/Page/P01086/Search',400,300)">检索 </a>
            <div class="datagrid-btn-separator"></div>
        </div>
        <div class="toolbutton">
            <a> </a>
            <div class="datagrid-btn-separator"></div>
        </div>
    </div>
</div>
<div data-options="region:'center'" class="content-padding">
    <iframe id="report" style="border:none;width:100%;height:100%;">

    </iframe>
</div>

