 <script type="text/javascript">
     function submit() {
         if ($("#dataform").form('validate')) {
             $('#dataform').form('submit', {
                 url: '/User/UpdatePassword1?oldpassword=' + $('#OldPassword').val() + ' &password=' + $('#NewPassword').val(),
                 onSubmit: function () {
                 },
                 success: function (result) {
                     if (result == 'true') {
                         $('#showmsg').empty();
                         $('#showmsg').append("修改成功");
                         setTimeout("cancel()", 3000);
                     } else {
                         $('#showmsg').empty();
                         $('#showmsg').append("原密码有误");
                     }
                 }
             })
         };
     }
   </script>
     <form id="dataform" class="form-dialog" method="post">
         <div class="edit-dialog">
             <div class="edit-panel">
                 <div class="edit-field">
                     <div class="edit-title">
                         <label class="edit-label">原密码：</label>
                     </div>
                     <div class="edit-content">
                         <input id="OldPassword" type="password" name="OldPassword" class="edit-input easyui-textbox" data-options="required:true,missingMessage:'请输入原密码'">
                     </div>
                 </div>
                 <div class="edit-field">
                     <div class="edit-title">
                         <label class="edit-label">新密码：</label>
                     </div>
                     <div class="edit-content">
                         <input id="NewPassword" type="password" name="NewPassword" class="edit-input easyui-textbox" data-options="required:true,validType:'oldeqnew[\'#OldPassword\']',validType:'password',missingMessage:'请输入新密码'">
                     </div>
                 </div>
                 <div class="edit-field">
                     <div class="edit-title">
                         <label class="edit-label">重复输入：</label>
                     </div>
                     <div class="edit-content">
                         <input id="AgainPassword" type="password" name="AgainPassword" class="edit-input easyui-textbox" data-options="required:true,validType:'oldpassword[\'#NewPassword\']',invalidMessage:'两次密码不一致',missingMessage:'请再次输入密码'">
                     </div>
                 </div>
                 <div class="edit-field">
                     <div class="showmsg">
                         <label id="showmsg"></label>
                     </div>
                 </div>
             </div>
         </div>
     </form>
     <div id="toolbar" class="dialog-button">
         <a id="btn-change" class="easyui-linkbutton edit-button" data-options="iconCls:'icon-ok'" onclick="submit()">确定 </a>
         <a id="btn-cancel" class="easyui-linkbutton edit-button" data-options="iconCls:'icon-cancel'" onclick="cancel()">取消 </a>
</div>