@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]>
    <html xmlns="http://www.w3.org/1999/xhtml" class="ie8" lang="zh-CN" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if !(IE 8) ]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>双子星系统 &rsaquo; 找回密码</title>
    <link rel='stylesheet' id='buttons-css' href='~/Content/buttons.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='login-css' href='~/Content/login.min.css' type='text/css' media='all' />
    <meta name='robots' content='noindex,follow' />
    <script type="text/javascript" src="~/jquery-easyui-1.4/jquery.min.js"></script>
    <script>
        function submit1() {
            $.ajax({
                type: "POST",
                url: '/User/ForgetPsw?email=' + $('#email1').val(),
                success: function (data) {
                    $('.message').empty();
                    $('.message').append(data);
                }
            });
        }
    </script>

</head>
<body class="login login-action-login wp-core-ui  locale-zh-cn">
    <div id="login">
        <h1><img src="~/Content/Images/name.gif"></h1>
        <p class="message">密码重置成功。</p>

        <form id="fpsform" method="post">
            <p id="nav">
                <a href="@Url.Content("/Account/LogOut")" title="登录">返回登录界面</a>
            </p>
        </form>
    </div>
</body>
</html>
