@model Panasia.Core.Web.Form


<div data-options="region:'north'" class="content-padding">
    <div id="toolbar" class="toolbar-panel">
        @*<table cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <a id="btn-search" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true"
                       onclick="showActDlg('检索','/User/Search',400,300)">检索</a><div class="datagrid-btn-separator"></div>
                </td>
                <td>
                    <a id="btn-detail" href="#" class="easyui-linkbutton toolradio" data-options="iconCls:'icon-detail',plain:true"
                       onclick="showActDlg_DGItemActDlg('datagrid', '查看', '/User/Detail', 400, 300)">查看</a><div class="datagrid-btn-separator"></div>
                </td>
                <td>
                    <a id="btn-create" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true"
                       onclick="showActDlg('新增', '/User/Create', 400, 300)">新增</a><div class="datagrid-btn-separator"></div>
                </td>
                <td>
                    <a id="btn-edit" href="#" class="toolradio easyui-linkbutton " data-options="iconCls:'icon-edit',plain:true"
                       onclick="showActDlg_DGItemActDlg('datagrid', '编辑', '/User/Edit', 400, 300)">编辑</a><div class="datagrid-btn-separator"></div>
                </td>
                <td>
                    <a id="btn-editpassword" href="#" class="easyui-linkbutton toolradio" data-options="iconCls:'icon-edit',plain:true"
                       onclick="showActDlg_DGItemActDlg('datagrid', '修改密码', '/User/ChangePassword', 400, 300)">修改密码</a><div class="datagrid-btn-separator"></div>
                </td>
                <td>
                    <a id="btn-edituserrole" href="#" class="easyui-linkbutton toolradio" data-options="iconCls:'icon-edit',plain:true"
                       onclick="showActDlg_DGItemActDlg('datagrid', '修改角色', '/User/UserRole', 400, 300)">修改角色</a><div class="datagrid-btn-separator"></div>
                </td>
                <td>
                    <a id="btn-delete" href="#" class="easyui-linkbutton toolmultiple" data-options="iconCls:'icon-cancel',plain:true"
                       onclick="showActDlg_DGItemsConfirm('datagrid', '删除', '确认删除选择项?', '/User/Delete', 400, 300)">删除</a><div class="datagrid-btn-separator"></div>
                </td>
                <td>
                    <a id="btn-import" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-import',plain:true"
                       onclick="showActDlg('导入', '/User/Import', 400, 300)">导入</a><div class="datagrid-btn-separator"></div>
                </td>
                <td>
                    <a id="btn-export" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-export',plain:true"
                       onclick="showActDlg('导出', '/User/Export', 400, 300)">导出</a><div class="datagrid-btn-separator"></div>
                </td>
                <td>
                    <div class="datagrid-btn-separator"></div>
                </td>
            </tr>
        </table>*@
        <div class="toolbutton">
            <a id="btn-search" href="#" class="easyui-linkbutton normal-button" data-options="iconCls:'icon-search',plain:true"
               onclick="showActDlg('检索','/User/Search',400,300)">检索</a><div class="datagrid-btn-separator"></div>
        </div>
        <div class="toolbutton">
            <a id="btn-detail" href="#" class="easyui-linkbutton toolradio normal-button" data-options="iconCls:'icon-detail',plain:true"
               onclick="showActDlg_DGItemActDlg('datagrid', '查看', '/User/Detail', 400, 300)">查看</a><div class="datagrid-btn-separator"></div>
        </div>
        @*<div class="toolbutton">
            <a id="btn-create" href="#" class="easyui-linkbutton normal-button" data-options="iconCls:'icon-add',plain:true"
               onclick="showActDlg('新增', '/User/Create', 400, 300)">新增</a><div class="datagrid-btn-separator"></div>
        </div>*@
        @*<div class="toolbutton">
            <a id="btn-edit" href="#" class="easyui-linkbutton toolradio normal-button hide_IsValid_0" data-options="iconCls:'icon-edit',plain:true"
               onclick="showActDlg_DGItemActDlg('datagrid', '修改', '/User/Edit', 400, 300)">修改</a><div class="datagrid-btn-separator"></div>
        </div>*@
        <div class="toolbutton">
            <a id="btn-editpassword" href="#" class="easyui-linkbutton toolradio normal-button hide_IsValid_0" data-options="iconCls:'icon-changepwd',plain:true"
               onclick="showActDlg_PwdActDlg('datagrid', '重置密码', '确定重置改用户密码?', '/User/ResetPassword', 400, 300)">重置密码</a><div class="datagrid-btn-separator"></div>
        </div>
        <div class="toolbutton">
            <a id="btn-edituserrole" href="#" class="easyui-linkbutton toolradio normal-button hide_IsValid_0" data-options="iconCls:'icon-changerole',plain:true"
               onclick="showActDlg_DGItemActDlg('datagrid', '修改角色', '/User/UserRole', 400, 300)">修改角色</a><div class="datagrid-btn-separator"></div>
        </div>
        <div class="toolbutton">
            <a id="btn-delete" href="#" class="easyui-linkbutton toolmultiple normal-button hide_IsValid_0" data-options="iconCls:'icon-cancel',plain:true"
               onclick="showActDlg_DGItemsConfirm('datagrid', '删除', '确认删除选择项?', '/User/Delete', 400, 300)">删除</a><div class="datagrid-btn-separator"></div>
        </div>
        @*<div class="toolbutton">
            <a id="btn-import" href="#" class="easyui-linkbutton normal-button" data-options="iconCls:'icon-import',plain:true"
               onclick="showActDlg('导入', '/User/Import', 400, 300)">导入</a><div class="datagrid-btn-separator"></div>
        </div>*@
        @*<div class="toolbutton">
            <a id="btn-export" href="#" class="easyui-linkbutton normal-button" data-options="iconCls:'icon-export',plain:true"
               onclick="showActDlg('导出', '/User/Export', 400, 300)">导出</a><div class="datagrid-btn-separator"></div>
        </div>*@
        <div class="toolbutton">
            <div class="datagrid-btn-separator"></div>
        </div>
    </div>
</div>
<div data-options="region:'center',title:'用户'" class="content-padding">
    <table id="datagrid" class="easyui-datagrid" data-options="fitColumns:true,fit:true,pagination: true,rownumbers: true,nowrap: true,striped: true,collapsible: false,resizable:true,sortName:'UserID',multiSort:true,sortOrder:'desc'
           ,onClickRow:oncheckstate,onSelect:oncheckstate,onCheck:oncheckstate,onCheckAll:oncheckstate,onUncheckAll:oncheckstate,onUncheck:oncheckstate,onUnselect:oncheckstate">
        <thead>
            <tr>
                <th data-options="field:'UserID',checkbox:'true',halign:'center'"></th>
                <th data-options="field:'UserName',halign:'center'">用户名</th>
                <th data-options="field:'Company',halign:'center'">公司</th>
                <th data-options="field:'Dept',halign:'center'">部门</th>
                <th data-options="field:'Job',halign:'center'">职位</th>
                <th data-options="field:'FullName',sortable:true,halign:'center'">姓名</th>
                <th data-options="field:'Email',sortable:true,halign:'center'">邮箱</th>
                <th data-options="field:'Roles',halign:'center'">角色</th>

                @*<th data-options="field:'IsValid',halign:'center',sortable:true,formatter:function(value,row,index){if(value){return '是'}else{return '否'}}">是否有效</th>*@
            </tr>
        </thead>
    </table>
</div>
<div id="dialog"></div>

<!--
新增按钮：获取新增的Html——>对话框显示；  showDialog(url,title,width,height)=>先从服务端取，成功后显示对话框
保存按钮：提交某个窗体内容——>如果成功——>关闭对话框 postForm(formID,url)
取消按钮：关闭对话框
-->
