@model Panasia.Core.Auth.UserChangePassword

<script type="text/javascript">
    function submitAct_Password(form, url) {
        $("#" + form).form('submit', {
            url: url,
            //onSubmit: function () {
            //    if ($("input[name='Passwrod']").val() == $("input[name='ConfirmPassword']").val()) {
            //        return $(this).form('validate');
            //    }
            //    else {
            //        $('.showMsg').show("slow", function () { $(this).hide(5000) });
            //        $("#showMsg").empty();
            //        $("#showMsg").append("两次输入的密码不一致");;
            //        return false;
            //    }
            //},
            contentType: "text/html",
            success: function (data) {
                var data = $.parseJSON(data);
                if (!data.HasError) {
                    $("#dialog").dialog('close');
                    $.messager.alert("提示", "密码修改成功");
                }
                else {
                    $('.showMsg').show("slow", function () { $(this).hide(5000) });
                    $("#showMsg").empty();
                    $("#showMsg").append(data.Error);
                }
            }
        });
    }

</script>

<form class="form-dialog" method="post" id="changePwdForm">
    <div class="edit-dialog">
        <div class="edit-panel">
            <div class="edit-field">
                <div class="edit-title"><label class="edit-label">密码：</label></div>
                <div class="edit-content">
                    <input class="edit-input easyui-textbox easyui-validatebox" name="Passwrod" id="Passwrod" type="password" validtype="CharAndMinNum[6]" />
                </div>
            </div>
            <div class="edit-field">
                <div class="edit-title"><label class="edit-label">确认密码：</label></div>
                <div class="edit-content">
                    <input class="edit-input easyui-textbox easyui-validatebox" name="ConfirmPassword" id="ConfirmPassword" type="password" validtype="equals['#Passwrod']" />
                </div>
            </div>
            <div class="edit-field">
                <input name="UserID" hidden />
                <div class="showMsg"><label id="showMsg"></label></div>
            </div>
        </div>
    </div>
</form>
<div class="dialog-button">
    <a class="easyui-linkbutton edit-button" data-options="iconCls:'icon-ok'" onclick="submitAct_Password('changePwdForm', '/User/UpdatePassword')">确定</a>
    <a class="easyui-linkbutton edit-button" data-options="iconCls:'icon-cancel'" onclick="cancel()">取消</a>
</div>
@*<form method="post" id="changePwdForm">
        <table class="grid">
            <tr>
                <th>密码:</th>
                <td>
                    <input class="input-dialog" name="UserID" hidden />
                    <input class="input-dialog easyui-validatebox" name="Passwrod" type="password" id="Passwrod" validtype="CharAndMinNum[6]" />
                </td>
            </tr>
            <tr>
                <th>确认密码:</th>
                <td>
                    <input class="input-dialog easyui-validatebox" name="ConfirmPassword" type="password" id="ConfirmPassword" validtype="equals['#Passwrod']" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="btn-dialog">
                        <a class="easyui-linkbutton btn-padding" data-options="iconCls:'icon-ok'" onclick="submitAct_Password('changePwdForm', '/User/UpdatePassword')">确定</a>
                        <a class="easyui-linkbutton btn-padding" data-options="iconCls:'icon-cancel'" onclick="cancel()">取消</a>
                    </div>
                </td>
            </tr>
        </table>
        <div class="showMsg"><label id="showMsg"></label></div>
    </form>*@

