@*----------------------------------------------------------------
    // Copyright (C) 2004 清风软件
    // 版权所有。
    //
    // 文件名：Fl009.cshtml
    // 文件功能描述：我提交的调休申请单列表（测试用）
    //----------------------------------------------------------------*@
@{
        ViewBag.Title = "Templateform";
    }
@model Panasia.Gemini.FL.Models.TemplateModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>调休申请单列表</title>
    <link href="~/EasyUI/themes/metro-blue/easyui.css" rel="stylesheet" />
    <link href="~/EasyUI/themes/icon.css" rel="stylesheet" />
    <script src="~/EasyUI/jquery.min.js"></script>
    <script src="~/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/EasyUI/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="~/javascript/dateformat.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#dg").datagrid({
                iconCls: 'icon-edit',
                singleSelect: true,
                toolbar: '#tb',
                url: '/Approve/MyDocumentList',
                queryParams: {
                    status: "0"
                },
                columns: [[{
                    field: 'CreatedTime', title: '日期', width: 150, formatter: function (value, rowData, rowIndex) {
                        return new Date(value).Format("yyyy-MM-dd hh:mm:ss");
                    }
                },
                {
                    field: 'Approved', title: '签核状态', width: 150, formatter: function (value, rowData, rowIndex) {
                        var text = "";
                        switch (value) {
                            case "0": text = "签核中"; break;
                            case "-1": text = "驳回"; break;
                            case "1": text = "已结案"; break;
                        }
                        return text;
                    }
                },
                {
                    field: 'ApproveEmployeeName', title: '当前待签核者', width: 150, formatter: function (value, rowData, rowIndex) {
                        var text = rowData.ApproveDepartmentName + "-" + value;
                        if (rowData.Approved == "1" || rowData.Approved == "-1") {
                            text = "";
                        }
                        else if (value == "") {
                            text = rowData.ApproveDepartmentName + "-" + rowData.ApproveJobName;
                        }
                        return text;
                    }
                },
                {
                    field: 'AutoKey', title: '操作', width: 150, formatter: function (value, rowData, rowIndex) {
                        var text = "<a href='Fl010?key=" + value + "'>查看</a>";
                        if (rowData.Approved == "-1")
                        {
                            text += "&nbsp;&nbsp;<a href='/Approve/Fl013?key=" + value + "'>修改</a>"
                        }
                        if (rowData.Approved == "1") {
                            text += "&nbsp;&nbsp;<a href='/Approve/Fl016?key=" + value + "'>打印</a>"
                        }
                        return text;
                    }
                },
                { field: 'ApproveJobName', hidden: true },
                { field: 'ApproveDepartmentName', hidden: true }
                ]],
                pagination: true,
                pageNumber: 1,
                pageList: [10,20,30]
            });
        });

        function Search(status)
        {
            $("#dg").datagrid({
                queryParams: {
                    condition: 1,
                    status: status
                }
            });
            //$("#dg").datagrid('reload');
        }
    </script>
    <style type="text/css">
        .fitem td {
            font-size:12px;
        }
    </style>
</head>
<body>
    <div id="content">
        <table id="dg" title="调休申请单" style="height:auto">
        </table>

        <div id="tb" style="height:auto">
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:'true'" onclick="Search(0)">签核中</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:'true'" onclick="Search(-1)">被驳回</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:'true'" onclick="Search(1)">已结单</a>
        </div>
    </div>
</body>
</html>