<div title="" class="panel-body panel-body-noborder window-body">
    <div>
        <form id="dataform" class="form-dialog" style="width:370px;" method="post">
            <div class="form-dialog" style="width: 370px;">
                <div class="edit-dialog">
                    <div class="edit-panel">
                        <div class="edit-field">
                            <div class="edit-title">
                                <label class="edit-label">
                                    申请日期：
                                </label>
                            </div>
                            <div class="edit-content">
                                <input id="StartDate" name="StartDate" class="edit-input easyui-datebox" style="width:84px" />
                                ~
                                <input id="EndDate" name="EndDate" class="edit-input easyui-datebox" style="width:84px" />
                            </div>
                            <script type="text/javascript">
                                SetDateBoxValidator("StartDate", "EndDate")
                            </script>
                        </div>
                        <div class="edit-field">
                            <div class="edit-title edit-title-right">
                                <label class="edit-label edit-label-right">
                                    金额：
                                </label>
                            </div>
                            <div class="edit-content">
                                <input name="AmountStart" class="edit-input easyui-numberbox easyui-validatebox" style="width:84px" data-options="validType:'length[1,12]',invalidMessage:'数字精度不得超过12位'" />
                                ~
                                <input name="AmountEnd" class="edit-input easyui-numberbox easyui-validatebox" style="width:84px" data-options="validType:'length[1,12]',invalidMessage:'数字精度不得超过12位'" />
                            </div>
                        </div>
                        <div class="edit-field">
                            <div class="edit-title edit-title-right">
                                <label class="edit-label edit-label-right">
                                    付款类型：
                                </label>
                            </div>
                            <div class="edit-content">
                                <input class="edit-input" id="PaymentID" panelheight="auto">
                                <script type="text/javascript">
                                    $.ajax({
                                        type: 'post',
                                        url: "/Share/GetSystemCodes?code=C072",
                                        success: function (data) {
                                            data.unshift({ "Code": "", "Name": "全部" });

                                            $("#PaymentID").combobox({
                                                data: data,
                                                editable: false,
                                                valueField: 'Code',
                                                textField: 'Name',
                                                onSelect: function (data) {
                                                    $("[name='PaymentName']").val(data.Name);
                                                }
                                            });
                                        }
                                    });
                                    
                                </script>
                                <input type="hidden" name="PaymentName" />
                            </div>
                        </div>
                        <div class="edit-field">
                            <div class="edit-title edit-title-right">
                                <label class="edit-label edit-label-right">
                                    状态：
                                </label>
                            </div>
                            <div class="edit-content">
                                <select id="Approve" name="Approve" class="edit-dropdownlist"></select>
                                <script type="text/javascript">
                                    $("#Approve").combobox({
                                        valueField: 'Code',
                                        textField: 'Name',
                                        url: '/Share/GetSystemCodes?code=C031',
                                        panelHeight: "auto",
                                        editable: false
                                    }).combobox("setValue", "-2");
                                </script>
                            </div>
                        </div>
                        <div class="edit-field">
                            <div class="showmsg">
                                <label id="showmsg">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="dialog-button">
            <a class="edit-button easyui-linkbutton" href="#" onclick="submitAct_DGReplace('dataform', '/Page/P01040/Query', 'datagrid')" data-options="iconCls:'icon-ok'">确定</a>
            <a class="edit-button easyui-linkbutton" href="#" onclick="cancel()" data-options="iconCls:'icon-cancel'">取消</a>
        </div>
    </div>
</div>

